.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
npm-debug.log
yarn-error.log
docker-compose.yml
docker-compose.yaml
